<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RequestAPIServlet</servlet-name>
        <servlet-class>RequestAPIServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ParamterServlet</servlet-name>
        <servlet-class>ParamterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponseIOSServlet</servlet-name>
        <servlet-class>ResponseIOSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response1</servlet-name>
        <servlet-class>Response1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Response2</servlet-name>
        <servlet-class>Response2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Response1</servlet-name>
        <url-pattern>/response1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Response2</servlet-name>
        <url-pattern>/response2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponseIOSServlet</servlet-name>
        <url-pattern>/responseiosservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAPIServlet</servlet-name>
        <url-pattern>/requestapiservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParamterServlet</servlet-name>
        <url-pattern>/paramterservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
</web-app>